<mat-expansion-panel [id]="post.id" (opened)="loadComments(post)">
  <mat-expansion-panel-header
    [collapsedHeight]="'auto'"
    [expandedHeight]="'auto'"
  >
    <mat-panel-title class="m-3">{{ post.title | titlecase }}</mat-panel-title>
    <mat-panel-description class="p-3">
      {{ post.body }}
      <mat-icon>delete</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <hr class="mb-4" />

    <ng-container *ngIf="!!post.comments; else loading">
      <ng-container *ngFor="let comment of post.comments">
        <div
          class="toast fade show bg-gray-7 my-2"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header bg-gray-7">
            <svg
              class="bd-placeholder-img rounded me-2"
              width="20"
              height="20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <span class="me-auto">{{ comment.email }}</span>
          </div>
          <div class="toast-body">
            <p>{{ comment.body }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <div class="mx-auto loader"></div>
    </ng-template>
  </ng-template>
</mat-expansion-panel>
