<div class="container-fluid">
  <h1>Lista de Usuários</h1>
  <hr />

  <app-filter-by (filterBy)="filterChanged($event)"></app-filter-by>

  <table
    id="users-table"
    class="table mt-4 table-dark table-striped table-hover"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Username</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let user of users | usersFilter : filter; let i = index"
      >
        <tr [routerLink]="[user.id, 'posts']">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone | phone }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
