@import "~bootstrap/dist/css/bootstrap.min.css";
@import "scss/theme.scss";
@import "scss/animations.scss";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  button {
    border-radius: 8px !important;
    background-color: $dartmouth-green !important;

    &:hover {
      // Mixing black to make buttons 6% darker on hovers
      background-color: mix(black, $dartmouth-green, 6%) !important;
    }
  }
}
